@using CapaEntidades;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
}

@if (cuenta != null)
{
    var a = 1;

    @section Scripts
    {
        <script>
        $("#limpiar").empty()
                $("a#idLogin").remove();
                $("#userInfo").append(`
                <!-- Cuando la sesion esta iniciada-->
                        <ul>
                            <li class="">
                                <div class="header_login">
                                    <a href="#" data-toggle="dropdown" aria-expanded="false">
                                        <img src="https://images.vexels.com/media/users/3/141066/isolated/preview/2f9f642a85dc4a93ad4400b18c9f0e7e-empresario-cuadrado-avatar-rojo-by-vexels.png" alt="" style="border-radius: 50%; height: 45px; width: 45px"> @cuenta.Huesped.UserName
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right" style="background-color: rgba(14,9,35,0.88);">
                                        <li><a href="#" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-user"> Perfil </i></a></li>
                                        <li><a href="@Url.Action("MisReservas", "AnularReserva")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-list"> Mis Reservas </i></a></li>
                                        <li><a href="@Url.Action("CerrarSesion", "Login")" style="padding-left: 17px; padding-bottom: 0;"><i class="fa fa-sign-out"> Cerrar Sesión </i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
            `)
        </script>
    }

}
<!-- Home -->

<div class="home" style="background-image: url(../../Bootstrap/images/about.jpg);">
    <!-- Para cambiar la imagen, ir a main_styles.css, a la funcion .home y cambiar la ruta-->
    <div class="home_container d-flex flex-column align-items-center justify-content-center">
        <div class="home_title"><h1>Quiénes somos</h1></div>
    </div>
</div>

<!-- Booking -->

<div class="booking">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="booking_container d-flex flex-row align-items-end justify-content-start">
                    <form action="#" class="booking_form">
                        <div class="booking_form_container d-flex flex-lg-row flex-column align-items-start justify-content-start flex-wrap">
                            <div class="booking_form_inputs d-flex flex-row align-items-start justify-content-between flex-wrap">
                                <div class="booking_dropdown"><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                <div class="booking_dropdown"><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                <div class="custom-select">
                                    <select>
                                        <option value="0">Adultos</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                                <div class="custom-select">
                                    <select>
                                        <option value="0">Niños</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <button class="booking_form_button ml-lg-auto btn-success">Ver Disponibilidad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Intro -->

<div class="intro">
    <div class="container">
        <div class="row row-eq-height">

            <!-- Intro Content -->
            <div class="col-lg-6">
                <div class="intro_content">
                    <div class="section_title">
                        <div>Hello</div>
                        <h1>Increible Hotel en lugar céntrico</h1>
                    </div>
                    <div class="intro_text">
                        <p style="color:black">Tenemos todas las comodidades y servicios a tu disposición, para que puedas pasar una increible experiencia de hospedaje</p>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="button intro_button"><a href="#">leer más</a></div>
                </div>
            </div>

            <!-- Intro Image -->
            <div class="col-lg-6">
                <div class="intro_image">
                    <div class="background_image" style="background-image:url(../../Bootstrap/images/intro.jpg)"></div>
                    <img src="~/Bootstrap/images/intro.jpg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Offering -->

<div class="offering">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <div>Resort</div>
                    <h1>Lo que Ofrecemos</h1>
                </div>
            </div>
        </div>
        <div class="row offering_row">

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_1.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Wifi</h3></div>
                        <div class="offer_text">
                            <p>Internet de alta banda ancha de alta velocidad.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_2.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Estacionamiento</h3></div>
                        <div class="offer_text">
                            <p>Aparcate cómodamente en nuestro estacionamiento.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_3.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Lavandería</h3></div>
                        <div class="offer_text">
                            <p>Tenemos preparado un espacio para que puedas lavar tu ropa.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_4.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Oficina</h3></div>
                        <div class="offer_text">
                            <p>Necesitas un lugar cómodo para recibir a tus contactos y/o un lugar donde trabajar? Tenemos un espacio preparado para ti durante tu estadía.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_5.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Restaurant</h3></div>
                        <div class="offer_text">
                            <p>Prueba los delicios platillos que tenemos preparados para ti y compañia durante su estadía.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

            <!-- Offer Item -->
            <div class="col-xl-4 col-md-6">
                <div class="offer">
                    <div class="offer_image"><img src="~/Bootstrap/images/offer_6.jpg" alt=""></div>
                    <div class="offer_content text-center">
                        <div class="offer_title"><h3>Transporte Hotel a Aeropuerto y viceversa</h3></div>
                        <div class="offer_text">
                            <p>Te recogemos y te llevamos al Aeropuerto o Terrapuerto. Servicio válido solo en algunos tipos de habitación.</p>
                        </div>
                        <div class="offer_button"><a href="#">Descubre</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Descubre -->

<div class="Descubre">

    <!-- Descubre Content -->
    <div class="Descubre_content">
        <div class="container">
            <div class="row">

                <!-- Descubre Content -->
                <div class="col-xl-5 col-lg-6">
                    <div class="section_title">
                        <div>Hotel</div>
                        <h1>Descubre Hostal ISIS</h1>
                    </div>
                    <div class="Descubre_highlight">
                        <p>Desde hace muchos años brindando comodidad y servicio de alta calidad para tu confort</p>
                    </div>
                    <div class="Descubre_text">
                        <p>Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis nulla, id laoreet neque scelerisque at. Quisque eget sem non ligula consectetur ultrices in quis augue. Donec imperd iet leo eget tortor dictum, eget varius eros sagittis. Curabitur tempor dignissim massa ut faucibus sollicitudin tinci dunt maximus. Morbi tempus malesuada erat sed pellentesque. Donec pharetra mattis.</p>
                    </div>
                    <div class="button Descubre_button"><a href="#">Descubre</a></div>
                </div>

                <!-- Milestones -->
                <div class="col-lg-6 offset-xl-1">
                    <div class="milestones d-flex flex-row align-items-start justify-content-start flex-wrap">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="6">0</div>
                            <div class="milestone_text">Habitaciones</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="10">0</div>
                            <div class="milestone_text">Años de Experiencia</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="8">0</div>
                            <div class="milestone_text">Premios Ganados</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="21" data-sign-after="+">0</div>
                            <div class="milestone_text">Clientes Felices</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>