header
{
    padding-top:0;
    padding-bottom:0;
}

nav.navbar
{
    background-color: black;
    padding-bottom: 0;
     
}

nav ul.navbar-bar{
    float: left;
}

nav ul.navbar-bar li a.nav-link{
    border-top: 15px;
    padding-right: 40px;
    float: left;
    
}

    nav ul.navbar-bar li a:hover
    {
        text-decoration:none;
    }

    nav a.navbar-brand
    {
        color: white;
    }

button.myButton i
{
    color: white;
    font-size: 25px;
    padding: 
}

footer p.copy
{
    color: white;
    font-size: 15px;
    margin-top: 10px;
}

footer p
{
    fon
}
