@model IEnumerable<CapaEntidades.EntHabitacion>
@using CapaEntidades;
@{
    Layout = "~/Views/Shared/_LayoutReservar.cshtml";
}

@section Rooms{
    
<section class="container" id="listarHabitaciones">
    
</section>
}
    
