@model CapaEntidades.EntHabitacion
@using CapaEntidades;
@{
    ViewBag.Title = "RealizarReserva";
    Layout = "~/Views/Shared/_LayoutReservar.cshtml";
    EntCuenta cuenta = (EntCuenta)ViewBag.Cuenta;
    string fechaReserva = ViewBag.FechaReserva;
    string fechaIngreso = ViewBag.FechaIngreso;
    string fechaSalida = ViewBag.FechaSalida;
    int cantidadAdultos = ViewBag.CantidadAdultos;
    int cantidadKids = ViewBag.CantidadKIds;
    double precio = Model.Tipodehabitacion.Precio * 0.2;
}

@section Scripts
{
    <script>
        $("a#idLogin").html("Cerrar Sesión");
        $("a#idLogin").attr("href", "/Login/CerrarSesion")
    </script>
}

@section Reserva
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="container" id="realizarReserva">
            

        </section>


    }
}

