body{
    background-color: rgb(37,40,48);
}

.content p{
    color: aliceblue;
}

header h1{ 
    margin-bottom: 1em;
    text-align: center;
    margin-top: 1.5em;
}
h3.red-title{
    color: red;
}
h4
{
    color: rgb(0,123,255);
}
.content
{
    line-height: 1.5;
    padding: .5em 0;
    padding-left: 2em;
}
.moveContent
{
    margin-left: 16em;
}


.myNav
{
    background-color: rgb(26,28,34)!important;
}

.title
{
    color: aliceblue;
}

.form-header{
    padding-left: 5.5em;
}

/*Forms*/
.form-content label
{
    color: aliceblue;
}
.form-content-delete dt
{
    color: white;
}
.form-content-delete dd
{
    color: rgb(0,213,255);
}
.btn-myBtn
{
    color: aliceblue;
    background-color: rgb(37,40,48);
    border-color: aliceblue;
    border-radius: 1em;
    border: 1px solid white;
}

    .btn-myBtn:hover
    {
        color: white;
        transform: scale();
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
    }

.btn-MyDanger
{
    color: aliceblue;
    background-color: rgb(200,35,51);
    border-color: aliceblue;
    border-radius: 1em;
    border: 1px solid white;
}
    .btn-MyDanger:hover
    {
        color: white;
        transform: scale();
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
    }