@model CapaEntidades.EntCuenta
@using CapaEntidades;
@{
    ViewBag.Title = "eliminarCuenta";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";
}

<section class="container" id="listarHuesped">
    <div class="form-content-delete form-horizontal col-5 m-auto">
        <h3 class="red-title">¿Seguro de anular el registro?</h3>
        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container card text-center mt-4 mb-4">
                <div class="card-header">
                    Cancelar registro
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">¿Seguro que desea cancelar el registro?</h5>
                </div>
                <div class="card-footer">
                    <div class="form-group text-center">
                        <input type="submit" value="Sí" class="btn btn-primary" /> 
                        @Html.ActionLink("No", "registrarHuesped", new { NombreUsuario = Model.NombreUsuario }, new { @class = "ml-1 btn btn-danger" })
                    </div>
                </div>
            </div>
            
        }
    </div>
</section>


